#navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--color-indigo-800);
}

#navbar a {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
}

#navbar a:hover {
  cursor: pointer;
  color: #91a4d2;
}